<%- include('../includes/header.ejs') %>

    <body>
        <%- include('../includes/loggedinnav.ejs') %>

            <!-- books -->

            <div class="sellbooks">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h6 class="mb-3 text-center align-items-center" style="font-family: 'Noto Sans Display', sans-serif;font-size: 30px;">Sell Books</h6>
                        </div>
                    </div>
                    <div class="row-content mt-4 d-flex justify-content-center bg-light">
                        <div class="col-10 col-md-12">
                            <form <%if(path=='/editBook'){%> action="/editBook/<%=id%>" <%}else{%>  action="/addBook" <%}%> method="POST" enctype="multipart/form-data">
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="bookname">Book Title</label>
                                        <input name="title" type="text" class="form-control" id="bookname" <%if(path=='/editBook'){%> value="<%=title%>"<%}%>
                                            placeholder="Name of the Book" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="bookname">Author Name</label>
                                        <input name="author" type="text" class="form-control" id="authorname" <%if(path=='/editBook'){%> value="<%=author%>"<%}%>
                                            placeholder="Name of the Author" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="bookname">Genre</label>
                                        <select name="genre" class="form-control" id="genrename" class="custom-select"
                                            required>
                                            <option selected <%if(path!='/editBook'){%> disabled  <%}%>  > <%if(path=='/editBook'){%> <%=genre%><%}else{%> Select Genre <%}%></option>
                                            <option>Action </option>
                                            <option>Adventure</option>
                                            <option>Horror</option>
                                            <option>Fiction</option>
                                            <option>Science</option>
                                            <option>Non-Fiction</option>
                                            <option>Technology</option>
                                            <option>Self-help</option>
                                            <option>Spiritual</option>
                                            <option>Kids</option>
                                            <option>Other</option>

                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="language">Language</label>
                                        <!-- <input name="language" id="language" type="string" class="form-control"
                                        placeholder="Book Genre" required> -->
                                        <select name="language" id="language" class="custom-select" required>
                                            <option selected <%if(path!='/editBook'){%> disabled  <%}%>> <%if(path=='/editBook'){%> <%=language%><%}else{%> Language<%}%> </option>
                                            <option>Hindi </option>
                                            <option>English</option>
                                            <option>Kannada</option>
                                            <option>Tamil</option>
                                            <option>Telegu</option>
                                            <option>Marathi</option>
                                            <option>Punjabi</option>
                                            <option>Guajarati</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="condition">Condition</label>
                                        <select name="condition" class="custom-select" id="condition" required>
                                            <option selected <%if(path!='/editBook'){%> disabled  <%}%> ><%if(path=='/editBook'){%> <%=condition%><%}else{%> Condition of the book  <%}%></option>
                                            <option>Best </option>
                                            <option>Average</option>
                                            <option>Bad</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="mrpprice">MRP</label>
                                        <input name="orignal_price" step="0.01" type="number" class="form-control" " id=" mrpprice"
                                            placeholder="MRP"   <%if(path=='/editBook'){%> value="<%=op%>"<%}%> required>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="spprice">Selling Price</label>
                                        <input type="number"  step="0.01" class="form-control" name="selling_price" id="spprice"
                                            placeholder="Selling Price"  <%if(path=='/editBook'){%> value="<%=sp%>"<%}%> required>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="image">Upload Image</label>
                                        <input type="file" name="image" id="image">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="textarea">About the book</label>
                                        <input type="text" name="description" id="about" class="form-control"
                                           
                                            value="No Description Provided." > <%if(path=='/editBook'){%> <%=descr%><%}%>
                                    </div>
                                </div>
                                <%if(path=='/editBook'){%>
                                <input type="hidden" name="id" value="<%=id%>">
                                <%}%>
                                <div class="row-header mt-3">
                                    <div class="col text-center">
                                        <button type="submit" class="btn btn-success"><%if(path=='/editBook'){%>Update  <%}else{%> Upload<%}%></button>
                                    </div>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>

            </div>
            </div>

            <%- include('../includes/footer.ejs') %>
    </body>

    </html>