<%- include('../includes/header.ejs') %>

    <body>
        <%- include('../includes/loggedinnav.ejs') %>

            <!-- books -->

            <div class="wishlist">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <h6 class="mb-2 mt-3 text-center align-items-center" style="font-family: 'Noto Sans Display', sans-serif;font-size: 30px;">My Wishlist</h6>
                        </div>
                    </div>
                    <!-- first row -->
                    <% if (prods.length> 0) { %>
                        <% for (let product of prods) { %>
                            <div class="container" >
                                <div class="row d-flex justify-content-center">
                                    <div class="col-12 col-md-9" >
                                        <div class="card-deck mt-4 border rounded bg-light" data-aos="flip-up" data-aos-duration="500" >
                                            <div class="col-12 col-md-8 mt-4 mb-4">
                                                <div class="row align-items-center">
                                                    <div class="card col-4 offset-1 col-md-3"  style="height: 25vh;">
                                                        <img src="<%= product.imageUrl %>" alt="pic" style="width: 100%;">
                                                    </div>
                                                    <div class="col-7 col-md-7">
                                                         <!-- product title -->
                                                                <h6 style="font-family: 'Bebas Neue', cursive;font-size:25px">
                                                                    <%= product.title %>
                                                                </h6>
                                                         <!-- product pricing -->
                                                                <h6><br> &#8377 <%= product.orignal_price %> <strike>&#8377 <%=
                                                                                product.selling_price %></strike> <br> <small>
                                                                            <%=product.sale%>% off
                                                                        </small> </h6>
                                                                <div class="row">
                                                                    <div class="col d-flex justify-content-left">
                                                                        <%if(product.available==1){%>
                                                                        <form action="/addToCart" method="post">
        
        
                                                                            <input type="hidden" value="<%= product.id %>"
                                                                                name="bookId">
                                                                            <input type="hidden" value="<%=path%>" name="path">
                                                                            <button type='submit'
                                                                            class="mt-4 btn btn-lg btn-primary text-white"><span
                                                                                    class="fa fa-cart-plus"></span></button>
                                                                        </form>
                                                                        <%}else{%>
                                                                            <p class="mt-4">Sold Out</p>
                                                                            <%}%>
        
        
                                                                        <form action="/removeFromWishlist" method="POST">
                                                                            <input type="hidden" name="bookId"
                                                                                value="<%=product.id%>">
                                                                            <button type="submit"
                                                                                class="mt-4 btn btn-lg btn-danger ml-4"><span
                                                                                    class="fa fa-trash"></span></button>
                                                                        </form>
                                                                    </div>
                                                                </div>
        
                                                           
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>

                                <%}else{%>
                                    <div>
                                        <p class="emptycart text-center" style="font-size: 25px;">You haven't added any items in the wishlist! <br> See you soon!</p>
                                    </div>
                                    <%}%>
                                    <!-- footer -->

                </div>
                <%- include('../includes/footer.ejs') %>
            </div>

            
    </body>

    </html>