<% if (prods.length> 0) { %>
    <div class="booksforsale">
        <div class="row mt-2">
            <div class="col text-center">
                <h3>All Books</h3>
            </div>
        </div>

        <div class="container">

            <%let count=0;%>
                <% for (let product of prods) { %>
                    <%if(product.available==0){continue}%>
                        <%if(count%4==0){%>
                            <div class="row mt-2 d-flex justify-content-center">
                                <div class="card-deck">
                                    <%}%>
                                        <div class="card mt-4 text-center border rounded"  style="background-color: #e3f2fd;">
                                            <!-- <div class="card-header" style="background-color: #e3f2fd;">
                                               
                                            </div> -->
                                            <div class="card-body">
                                                <div class="col">
                                                    <img src="/<%= product.imageUrl %>" class="card-img-top" alt="book" style="width: 80%;">
                                                </div>
                                                <h5 class="card-title mt-4">
                                                    <%= product.title %>
                                                </h5>
                                                <%if(path!='/mybooks'){%>
                                                <small>
                                                    <p>by <%= product.name %>
                                                    </p>
                                                </small>
                                                <%}%>
                                                <p class="card-text">
                                                    <%= product.description %>
                                                </p>

                                            </div>
                                            <div class="card-footer" style="background-color: #e3f2fd;">
                                                <small>
                                                    <p>Condition : <%= product.bcondition %>
                                                    </p>
                                                </small>
                                                <%if(product.available==1){%>
                                                <section class="d-flex justify-content-around">
                                                    <p>&#8377 <strike>
                                                            <%= product.orignal_price %>
                                                        </strike></p>
                                                    <p> &#8377 <%= product.selling_price %>
                                                    </p>
                                                </section>
                                                <%}else{%>
                                                    <p>this item was sold for: <%=product.price%></p>
                                                    <%}%>
                                                
                                                <%if(userId!=product.user_id){%>
                                                    <div class="row">
                                                        <div class="col-6 col-md-6">
                                                            <a href="#" class="btn btn-lg border-success"><span
                                                                    class="fa fa-cart-plus"></span></a>
                                                        </div>
                                                        <div class="col-6 col-md-6">
                                                            <a href="#" class="btn btn-lg border-success"><span
                                                                    class="fa fa-heart"></span></a>
                                                        </div>
                                                    </div>
                                                    <%}else if(path=='/mybooks'){%>
                                                        <form action="/deleteBook" method="POST">
                                                            <input type="hidden" name="id"   value="<%=product.id%>">
                                                            <button type="submit">delete Book</button>
                                                        </form>
                                                        <%}%>

                                            </div>
                                        </div>
                                        <%if((count+1)%4==0&&(count>2)){%>
                                </div>
                            </div>
                            <%}%>
                                <%count+=1%>
                                    <% } %>
                                        <%if((count+1)%4!=0&&count>0){%>
        </div>
    </div>
    <%}%>

        <% } else { %>
            <div class="row">
                <div class="col-12 col-md-12">
                    <h1 class="text-center">No Products Found!</h1>
                    <p>Products will be added soon, see you later !</p>
                </div>
            </div>
            <% } %>
                <!-- // -->

                <div class="container-fluid mt-4">
                    <div class="row-footer text-center">
                        <div class="col-12 col-md-12">
                            <p class="lead text-muted">© Boook Store 2021</p>
                        </div>
                    </div>
                </div>
                </div>