<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<%- include('../includes/nav.ejs') %>
    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article>
                        <header>
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div>
                            <%if(product.available==1){%>
                            <h2><%= product.price %></h2>
                            <%}%>
                            <p><%= product.description %></p>
                        </div>
                        <%if(product.available==1){%>
                        <form action="/deleteBook" method="POST">
                            <input type="hidden" name="id"   value="<%=product.id%>">
                            <button type="submit">delete Book</button>
                        </form>
                        <%}else{%>
                            <p>this item was sold for: <%=product.price%></p>
                            <%}%>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
</body>
</html>