<%- include('../includes/header.ejs') %>

    <body>
        <%- include('../includes/loggedinnav.ejs') %>

            <!-- books -->
            <div class="myorders">

                <div class="container">
                    <div class="row mt-4">
                        <div class="col-12 col-md-9 mt-4">
                            <div class="card-deck">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <h5 class="lead">Order History</h5>
                                    </div>
                                    
                                    <div class="card-body text-white" style="background: #6d00d3;">
                                        <!-- card-body -->
                                        <%if(orders.length<=0){%>
                                            <p>Nothing here!</p>
                                        <%}else{%>
                                        <!-- ordered item 1 -->
                                        <% orders.forEach(product => { %>
                                        
                                        <div class="row mt-4 border-bottom">
                                            <div class="col-12 col-md-3">
                                                <img src="<%=product.imageUrl%>" class="rounded" alt="pic">
                                                <br>
                                                <br>
                                            </div>
                                            <div class="col-12 col-md-3">
                                                <h6><%= product.title %></h6>
                                                <small><p><%=product.description%></p></small>
                                                <p>Seller: <%=name%></p>
                                            </div>
                                            <div class="col-12 col-md-2">
                                                <h6>Rs. <%=product.selling_price%></h6>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <h6>Delivered on <%=product.order_time%></h6>
                                                <small><p>Your item has been delivered.</p></small>
                                                <div class="rating" 
                                                style="body {
                                                    height: 100vh;
                                                    display: grid;
                                                    place-items: center;
                                                    overflow: hidden;
                                                 }
                                                 
                                                 .rating {
                                                    position: relative;
                                                    width: 180px;
                                                    background: transparent;
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    gap: .3em;
                                                    padding: 5px;
                                                    overflow: hidden;
                                                    border-radius: 20px;
                                                    box-shadow: 0 0 2px #b3acac;
                                                 }
                                                 
                                                 .rating__result {
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    transform: translateY(-10px) translateX(-5px);
                                                    z-index: -9;
                                                    font: 3em Arial, Helvetica, sans-serif;
                                                    color: #ebebeb8e;
                                                    pointer-events: none;
                                                 }
                                                 
                                                 .rating__star {
                                                    font-size: 1.3em;
                                                    cursor: pointer;
                                                    color: #dabd18b2;
                                                    transition: filter linear .3s;
                                                 }
                                                 
                                                 .rating__star:hover {
                                                    filter: drop-shadow(1px 1px 4px gold);
                                                 }">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h6>Rate: <span class="rating__result"></span></h6> 
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <i class="rating__star fa fa-star-o"></i>
                                                            <i class="rating__star fa fa-star-o"></i>
                                                            <i class="rating__star fa fa-star-o"></i>
                                                            <i class="rating__star fa fa-star-o"></i>
                                                            <i class="rating__star fa fa-star-o"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                                        <% }); %>
                                        
                                    <%}%>

                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-12 col-md-3 mt-4">
                            <div class="card-deck">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <h5 class="lead">My Addresses</h5>
                                    </div>
                                    <div class="card-body">
                                        <h6>Default Address: </h6>
                                        <p>Bailey Road, Patna - 800014</p>
                                        
                                        <h6>Added Address 1: </h6>
                                        <p>Vidyaranyapura Road, Mysore - 570008</p>
                                        
                                        <h6>Added Address 2: </h6>
                                        <p>Vidyaranyapura Road, Mysore - 570008</p>
                                        
                                        <button type="button" class="bg-primary text-white rounded" data-toggle="modal" data-target="#addaddressModal"><span class="fa fa-plus"></span> Add Address</button>
                                        <!-- modal for addd adress -->
                                          <!-- Modal -->
                                          <div class="modal fade" id="addaddressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title offset-4" id="exampleModalLabel">Add New Address</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body" style="background-color: teal;color: white;">
                                                  <form>
                                                    <div class="form-row">
                                                      <div class="col-md-6 mb-3">
                                                        <label for="validationDefault33">District</label>
                                                        <input name="district" type="text" class="form-control" id="validationDefault33" required >
                                                      </div>
                                                      <div class="col-md-6 mb-3">
                                                        <label for="validationDefault03">City</label>
                                                        <input name="city" type="text" class="form-control" id="validationDefault03"   required>
                                                      </div>                          
                                                    </div>
                                                    <div class="form-row">
                                                      <div class="col-md-4 mb-3">
                                                        <label for="validationDefault04">State</label>
                                                        <select name="state" class="custom-select" id="validationDefault04" required>
                                                          <option selected disabled value="">Select</option>
                                                          <option>Himachal Pradesh</option>
                                                          <option>Uttarakhand</option>
                                                          <option>Bihar</option>
                                                          <option>Jharkhand</option>
                                                          <option>West Bengal</option>
                                                          <option>UP</option>
                                                          <option>MP</option>
                                                          <option>Karnataka</option>
                                                          <option>AP</option>
                                                          <option>Goa</option>
                                                          <option>Haryana</option>
                                                          <option>Delhi</option>
                                                          <option>Gujarat</option>
                                                          <option>Telangana</option>
                                                          <option>Maharashtra</option>
                                                          <option>Punjab</option>
                                                          <option>Tamil Nadu</option>
                                                          <option>Other</option>
                                                        </select>
                                                      </div>
                                                      <div class="col-md-3 mb-3">
                                                        <label for="validationDefault04">PIN Code</label>
                                                        <input name="pincode" type="number" class="form-control" id="validationDefault03" required >
                                                      </div>
                                                      <div class="col-md-5 mb-3">
                                                        <label for="validationDefault03">Mobile No.</label>
                                                        <input name="mobileNumber" type="number" class="form-control" id="validationDefault03" required >
                                                      </div>
                                                    </div>
                                                    <div class="form-row">
                                                      <div class="col-md-12 mb-3">
                                                        <label for="address">Address</label>
                                                        <input name="address" type="text"  class="form-control" id="address" placeholder="New Delivery Address" required>
                                                      </div>
                                                    </div>
                                                    <div class="form-row">
                                                      <div class="col-md-8 mb-3">
                                                        <label for="addresstype">Type of Address</label>
                                                        <div class=" row d-flex justify-content-around ml-2">
                                                          <div class="col">
                                                            <button type="button" class="form-control badge badge-pill badge-primary"><span class="fa fa-home"></span> Home</button>
                                                          </div>
                                                          <div class="col">
                                                            <button type="button" class="form-control badge badge-pill badge-warning"><span class="fa fa-briefcase"></span> Office</button>
                                                          </div>
                                                          <div class="col">
                                                            <button type="button" class="form-control badge badge-pill badge-info"><span class="fa fa-building"></span> Other</button>
                                                          </div>
                                                          
                                                        </div>
                                                      </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                  <button type="submit" class="btn btn-primary">Add</button>
                                                </div>
                                              </form>
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- myorders css and container divs -->
                </div>
            </div>


            <%- include('../includes/footer.ejs') %>
            <!-- rating.js file -->
    <script>
                    const ratingStars = [...document.getElementsByClassName("rating__star")];
            const ratingResult = document.querySelector(".rating__result");

            // printRatingResult(ratingResult);

            function executeRating(stars, result) {
            const starClassActive = "rating__star fa fa-star";
            const starClassUnactive = "rating__star fa fa-star-o";
            const starsLength = stars.length;
            let i;
            stars.map((star) => {
                star.onclick = () => {
                    i = stars.indexOf(star);

                    if (star.className.indexOf(starClassUnactive) !== -1) {
                        printRatingResult(result, i + 1);
                        for (i; i >= 0; --i) stars[i].className = starClassActive;
                    } else {
                        printRatingResult(result, i);
                        for (i; i < starsLength; ++i) stars[i].className = starClassUnactive;
                    }
                };
            });
            }

            function printRatingResult(result, num = 0) {
            result.textContent = `${num}/5`;
            }

            executeRating(ratingStars, ratingResult);
    </script>
    </body>

    </html>