<%- include('../includes/header.ejs') %>

    <body>
        <%- include('../includes/loggedinnav.ejs') %>

            <!-- books -->
            <div class="myorders">

                <div class="container">
                    <div class="row mt-4">
                        <div class="col-12 col-md-9 mt-4">
                                    
                                        <h6 class="mb-3 text-center align-items-center" style="font-size: 30px;font-family: 'Akronim', cursive;">Orders History</h6>
                                    

                                    <!-- media list introduced -->
                                    <ul class="list-unstyled" style="font-family: 'Scheherazade New', serif;">
                                        <%if(orders.length<=0){%>
                                          <p class="lead text-center" style="font-size: 20px;">You haven't ordered anything yet!</p>
                                        <%}else{%>
                                   
                                        <% orders.forEach(product => { %>
                                      <li class="media border mt-2" style="background: whitesmoke;">
                                          <img class="ml-4 mt-3 mb-3 border rounded" src="<%=product.imageUrl%>" alt="pic" style="width: 130px;height: 25vh;">
                                          
                                        <div class="media-body ml-4 mt-4">
                                          <h5 style="font-family: 'Bebas Neue', cursive;font-size:25px"><%= product.title %> <br></h5>
                                            <h5> <small><%=product.description%> <br>
                                              Seller: <%=name%></small></h5>
                                                
                                                <h6>Rs. <%=product.selling_price%></h6>
                                                <h6>Delivered on <%=product.order_time%> <br> <small>
                                                  Your item has been delivered to <p><%=product.locality%> , <%=product.city%>, <%=product.district%>  <%=product.state%> - <%=product.pin_code%></p>
                                                </small></h6>
                                                
                                          
                                        </div>
                                      </li>   
                                      <% }); %>
                                        
                                    <%}%>
                                    </ul>
                        </div>
                        <div class="col-12 col-md-3 mt-4">
                            
                                <div class="card">
                                    <div class="mt-2 text-center border-bottom">
                                        <h5 style="font-size: 28px;font-family: 'Akronim', cursive;">My Addresses</h5>
                                    </div>
                                    <div class="card-body" style="font-size: 12px;">
                                        <%addresses.forEach((address,i)=>{%>
                                            <%if(address.default_add==1){%>
                                            <h6>Default Address: </h6>
                                            <%}else{%>
                                            <h6>Added Address <%=i+1%>: </h6>
                                            <%}%>
                                            <p><%=address.locality%> , <%=address.city%>, <%=address.district%>  <%=address.state%> - <%=address.pin_code%></p>
                            
                                        <%})%>
                                        <button type="button" class="bg-primary text-white rounded" data-toggle="modal" data-target="#addaddressModal"><span class="fa fa-plus"></span> Add Address</button>
                                        <!-- modal for addd adress -->
                                          <!-- Modal -->
                                          <div class="modal fade" id="addaddressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title offset-4" id="exampleModalLabel">Add New Address</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body" style="background-color: teal;color: white;">
                                                        <form action="/addAddress" method="POST">
                                                            <div class="form-group">
                                                              <label for="inputAddress">Address</label>
                                                              <input name="locality" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                                                            </div>
                                                            <div class="form-row">
                                                              <div class="form-group col-md-6">
                                                                <label for="inputCity">City</label>
                                                                <input name="city" type="text" class="form-control" id="inputCity">
                                                              </div>
                                                              <div class="form-group col-md-6">
                                                                <label for="inputState">State</label>
                                                                <select name="state" id="inputState" class="form-control">
                                                                    <option selected>Choose...</option>
                                                                    <option>Himachal Pradesh</option>
                                                                    <option>Uttarakhand</option>
                                                                    <option>Bihar</option>
                                                                    <option>Jharkhand</option>
                                                                    <option>West Bengal</option>
                                                                    <option>UP</option>
                                                                    <option>MP</option>
                                                                    <option>Karnataka</option>
                                                                    <option>AP</option>
                                                                    <option>Goa</option>
                                                                    <option>Haryana</option>
                                                                    <option>Delhi</option>
                                                                    <option>Gujarat</option>
                                                                    <option>Telangana</option>
                                                                    <option>Maharashtra</option>
                                                                    <option>Punjab</option>
                                                                    <option>Tamil Nadu</option>
                                                                    <option>Other</option>
                                                                </select>
                                                              </div>
                                            
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-6">
                                                                  <label for="inputCity">District</label>
                                                                  <input name="district" type="String" class="form-control" id="inputCity">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="inputCity">PIN Code</label>
                                                                    <input name="pin_code" type="number" class="form-control" id="inputCity">
                                                                </div>
                                              
                                                              </div>
                                                            <div class="form-group">
                                                              <div class="form-check">
                                                                <input  name="make_default" class="form-check-input" type="checkbox" id="gridCheck">
                                                                <label  class="form-check-label" for="gridCheck" >
                                                                  Set as default for all deliveries
                                                                </label>
                                                              </div>
                                                            </div>
                                                          
                                                    </div>
                                                    <div class="modal-footer">
                                                   
                                                    <div class="form-row">
                                                  
                                                    </div>
                                                    <div class="form-row">
                                                      <div class="col-md-8 mb-3">
                                                        <label for="addresstype">Type of Address</label>
                                                        <div class=" row d-flex justify-content-around ml-2">
                                                          <div class="col">
                                                            <button type="button" class="form-control badge badge-pill badge-primary"><span class="fa fa-home"></span> Home</button>
                                                          </div>
                                                          <div class="col">
                                                            <button type="button" class="form-control badge badge-pill badge-warning"><span class="fa fa-briefcase"></span> Office</button>
                                                          </div>
                                                          <div class="col">
                                                            <button type="button" class="form-control badge badge-pill badge-info"><span class="fa fa-building"></span> Other</button>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                  <button type="submit" class="btn btn-primary">Add</button>
                                                </div>
                                              </form>
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
                    <!-- myorders css and container divs -->
                </div>
            </div>


            <%- include('../includes/footer.ejs') %>
            <!-- rating.js file -->
    <script>
                    const ratingStars = [...document.getElementsByClassName("rating__star")];
            const ratingResult = document.querySelector(".rating__result");

            // printRatingResult(ratingResult);

            function executeRating(stars, result) {
            const starClassActive = "rating__star fa fa-star";
            const starClassUnactive = "rating__star fa fa-star-o";
            const starsLength = stars.length;
            let i;
            stars.map((star) => {
                star.onclick = () => {
                    i = stars.indexOf(star);

                    if (star.className.indexOf(starClassUnactive) !== -1) {
                        printRatingResult(result, i + 1);
                        for (i; i >= 0; --i) stars[i].className = starClassActive;
                    } else {
                        printRatingResult(result, i);
                        for (i; i < starsLength; ++i) stars[i].className = starClassUnactive;
                    }
                };
            });
            }

            function printRatingResult(result, num = 0) {
            result.textContent = `${num}/5`;
            }

            executeRating(ratingStars, ratingResult);
    </script>
    </body>

    </html>